.person-add {
  margin-top: 25px;
  padding: 10px 7px;
  border-radius: 5px;
  background-color: rgb(60, 0, 255);
  cursor: pointer;

  font-size: 14px;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.person-add:hover {
  transition: all 0.3s ease;
  outline: 1px solid rgb(60, 0, 255);
  background-color: white;
  color: rgb(60, 0, 255);
}

@media (max-width: 420px) {
  .person-add {
    margin-top: 15px;
  }
}
