.table {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 25px 25px 120px;
  font-size: 20px;
  font-weight: 700;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #e5e5e5;
}

.table__name {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 33%;
}

.table__surname {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 67%;
}

@media (max-width: 768px) {
  .table {
    padding: 25px;
  }

  .table__name {
    flex-basis: 43%;
  }

  .table__surname {
    flex-basis: 57%;
  }
}

@media (max-width: 576px) {
  .table {
    padding: 15px 10px;
    font-size: 18px;
  }
}
